[user]
    name = Clayton William
    email = 
[core]
    excludesfile = <path to .gitignore_global>
	editory = vim
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[color]
	ui = true
[alias]
    a   = add
    b   = branch
    aa  = add --all
    s   = status
    p   = pull
    cm  = commit -m
    cam  = commit -am
    pom = push origin master
    cob = checkout -b
    co  = checkout
    l   = log --oneline --decorate --graph
    ls  = log --oneline --decorate --graph --stat
